# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

aws/
# Virtual environments
venv/
.env/
.envrc

# SQLite database
instance/
*.db

terraform/key/prod-key
terraform/key/prod-key.pub

# VS Code
.vscode/

# Ansible
*.retry

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# AWS CLI/SDK
*.pem
*.key

# System files
.DS_Store
Thumbs.db

# Logs
*.log
